.navigation{

    font-family: $font-title;

    &__checkbox{
        display: none;
    }

    &__button{
        background-color: #fff;
        position: fixed;
        height: 4.375rem;
        width: 4.375rem;
        border-radius: 50%;
        top: 2.5rem;
        right: 2.5rem;
        z-index: 20;
        box-shadow: 0 0.625rem, 1.875rem, rgba(#000, .1);
        cursor: pointer;

    }

    &__background{
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 50%;
        position: fixed;
        top: 2.8125rem;
        right: 2.8125rem;
        z-index: 10;
        transition: transform .6s cubic-bezier(0.86,0,0,.67);
    }

    &__nav{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;

        opacity: 0;
        visibility: hidden;
        width: 0;
        transition: all .6s cubic-bezier(.68, -.55, .265, 1.55);
    }

    &__list{
        @include totalCenter;
        list-style: none;
        text-align: center;
        width: max-content;
    }

    &__item{
    }

    &__link{
        &:link,
        &:visited{
            display: block;
            font-size: 2.5rem;
            font-weight: 300;
            padding: 0.625rem 1.25rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 230%;
            transition: all .4s;

        }
        &-icon{
            &:link,
            &:visited{
            display: inline-block;
            color: #fff;
            text-decoration: none;
            transition: all .4s;

            }

            &:hover{
                transform: scale(1.3);
            }

        }

        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary;
            transform: translateX(0.625rem);
        }
    }


    //functionality
    &__checkbox:checked ~ &__background{
        transform: scale(120);

        @include respond(phone){
            transform: scale(35);
        }

        
    }

    &__checkbox:checked ~ &__nav{
        opacity: 1;
        visibility: visible;
        width: 100%;
    }

    //icon
    &__icon{
        position: relative;
        @include totalCenter;
        transition: background-color .1s;

        &,
        &::after,
        &::before{
            width: 1.875rem;
            height: 2px;
            background-color: $color-grey-dark-4;
            display: inline-block;
        }

        &::after,
        &::before{
            content: '';
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before{
            top: -0.5rem;
        }

        &::after{
            top: 0.5rem;
        }
    }

    &__button:hover &__icon::after{
        top: 0.625rem;
    }

    &__button:hover &__icon::before{
        top: -0.625rem;
    }

    &__checkbox:checked + &__button > &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button > &__icon::before{
        transform: rotate(135deg);
        top: 0;
    }
    &__checkbox:checked + &__button > &__icon::after{
        transform: rotate(-135deg);
        top: 0;
    }

}